/* - - - - - V A R I A B L E S - - - - - */
:root{
	--gap: 20px;
	--padding: 10px;
	--radius: 5px;
	--icon: 2rem;

	--light-blue: rgb(54, 73, 216);
	--light-green: rgb(36, 153, 48);
	--blue: rgb(0, 10, 90);
}

/* - - - - - S T Y L E S - - - - - */
body{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: var(--padding);
	gap: var(--gap);
	justify-content: space-between;
	background-color: var(--blue);
	color: white;
	position: relative;
}

textarea{
	resize: none;
	padding: calc(var(--padding) + var(--icon));
	outline: none;
	border: none;
	background-color: transparent;
	width: 100%;
}
input[type="button"]{
	height: var(--icon);
	border-radius: 0;
	border: none;
	background-color: white;
}

main{
	display: flex;
	flex-grow: 1;
	width: 100%;
	max-height: 700px;
	border-radius: var(--radius);
	overflow: hidden;
}
main #leftbox, main #rightbox{
	flex: 1;
}
main #leftbox{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr auto auto;
	grid-template-areas: "lefttext lefttext"
						 "encrypt  decrypt";
}
main #leftbox #lefttext{
	grid-area: lefttext;
}
main #lefttext{
	color: white;
}
main #leftbox #encrypt{
	grid-area: encrypt;
}
main #leftbox #decrypt{
	grid-area: decrypt;
}
main #leftbox #advice{
	grid-area: advice;
}
main #rightbox{
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: white;
	color: black;
}
main #rightbox #righttext{
	background-image: url("../assets/images/nottext.svg");
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	flex-grow: 1;
	padding-bottom: 0;
}
main #rightbox #copy{
	position: absolute;
	display: none;
	background-size: contain;
	background-repeat: no-repeat;
	right: var(--padding);
	top: var(--padding);
	background-image: url("../assets/icons/copy.svg");	
	aspect-ratio: 1;
}
.textcopied--off{
	background-color: var(--light-green);
	padding: var(--padding) calc(var(--padding) * 2);
	border-radius: calc(var(--radius) * 5);
	position: absolute;
	top: -50%;
	transition: 1s ease;
}
.textcopied--on{
	top: 1%;
	transition: .5s ease;
}
#encrypt:hover, #decrypt:hover{
	background-color: var(--light-blue);
	color: white;
	transition: .5s ease;
}
#textnotfound{
	text-align: center;
	padding: calc(var(--padding) + var(--icon));
	padding-top: 0;
/*	flex: 1;*/
	flex-basis: 25%;
}
#textnotfound span{
	font-weight: bold;
	font-size: 1.5rem;
}

/* - - - - - R E S P O N S I V E - - - - - */
@media screen and (max-width: 600px){
	main{
		flex-direction: column;
	}
	main #rightbox #righttext{
		background-size: contain;
	}
	#textnotfound{
		padding: 0 calc(var(--padding) + var(--icon));
	}
}