/* - - - - - V A R I A B L E S - - - - - */
@font-face{
	font-family: poppins-bold;
	src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}
@font-face{
	font-family: poppins;
	src: url("../assets/fonts/Poppins/Poppins-Light.ttf");
}

:root{
	--gap: 20px;
	--icon: 2rem;
	--padding: 10px;
	--radius: 15px;

	--pastel-blue: rgb(54, 178, 216);

	--light-blue: rgb(54, 73, 216);
	--light-green: rgb(36, 153, 48);
	--light-red: rgb(216, 54, 54);
}

/* - - - - - S T Y L E S - - - - - */
body{
	font-family: poppins;
	align-items: center;
	background-color: var(--pastel-blue);
	color: white;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	justify-content: space-around;
	padding: var(--padding) calc(var(--gap) * 2);
	position: relative;
}
h1{
	font-family: poppins-bold;
	font-size: 2.5rem;
}
textarea{
	background-color: transparent;
	border: none;
	outline: none;
	padding: calc(var(--padding) + var(--icon));
	resize: none;
	width: 100%;
}
.button{
	border-radius: 0;
	border: none;
	height: var(--icon);
}
.notification--off{
	border-radius: calc(var(--radius) * 5);
	padding: var(--padding) calc(var(--padding) * 2);
	position: absolute;
	text-align: center;
	bottom: 100%;
	transition: .3s linear;
}
.notification--on{
	bottom: 95%;
}
#textcopied{
	background-color: var(--light-green);
}
#rulesadvice{
	background-color: red;
}

main{
	display: flex;
	flex-grow: 1;
	max-height: 700px;
	width: 100%;
	gap: calc(var(--gap) * 2);
}
main .button{
	background-color: white;
}
main #leftbox, main #rightbox{
	background-color: white;
	flex: 1;
	border-radius: var(--radius);
	overflow: hidden;
	color: black;
}
main #leftbox{
	display: grid;
	grid-template-areas: "lefttext lefttext"
						 "encrypt  decrypt";
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr auto auto;
}
main #leftbox #lefttext{
	grid-area: lefttext;
}
main #leftbox #encrypt{
	grid-area: encrypt;
}
main #leftbox #decrypt{
	grid-area: decrypt;
}
main #leftbox #advice{
	grid-area: advice;
}
main #encrypt:hover, main #decrypt:hover{
	background-color: var(--light-blue);
	color: white;
	transition: .5s;
}
main #rightbox{
	display: flex;
	flex-direction: column;
	position: relative;
}
main #rightbox #righttext{
	background-image: url("../assets/images/nottext.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	flex-grow: 1;
	padding-bottom: 0;
}
main #rightbox #buttons > *{
	aspect-ratio: 1;
	background-repeat: no-repeat;
	background-size: contain;
}
main #rightbox #buttons #copy{
	background-image: url("../assets/icons/copy.svg");	
}
main #rightbox #buttons #clear{
	background-image: url("../assets/icons/clear.svg");
}
main #rightbox #buttons{
	display: none;
	flex-direction: column;
	gap: var(--gap);
	position: absolute;
	right: var(--padding);
	top: var(--padding);
}
main #rightbox #textnotfound{
	flex-basis: 25%;
	padding-top: 0;
	padding: calc(var(--padding) + var(--icon));
	text-align: center;
}
main #rightbox #textnotfound span{
	font-size: 1.5rem;
	font-weight: bold;
}

footer{
	align-items: center;
	display: flex;
	gap: var(--gap);
}
footer .button{
	height: 1.5rem;
}
/* - - - - - R E S P O N S I V E - - - - - */
@media screen and (max-width: 600px){
	body{
		padding-right: calc(var(--padding) * 2);
		padding-left: calc(var(--padding) * 2);
	}
	h1{
		font-size: 2rem;
	}
	main{
		flex-direction: column;
	}
	main #rightbox{
		padding-top: var(--padding);
	}
	main #rightbox #righttext{
		background-size: contain;
	}
	main #rightbox #buttons{
		bottom: var(--padding);
		flex-direction: row-reverse;
		top: auto;
	}
	main #rightbox #textnotfound{
		flex-basis: 1;
		padding: var(--padding);
	}
	.notification--on{
		bottom: 90%;
	}
}
@media screen and (max-width: 320px){
	.notification--on{
		bottom: 85%;
	}
}